<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="../assets/images/team4.jpeg"
  />
  <span>Welcome {{username}}</span>
    <div class="spacer"></div>
    <!--a href="#" class="btn btn-info btn-lg" style="color: #eeeeee;" >
      <span class="glyphicon glyphicon-log-out" style="color: #eeeeee;"></span> Log out
    </a-->
    <button type="button" class="btn btn-info btn-lg" style="color: #eeeeee;" (click)="logout()"> Logout </button>
</div>
</html>