
    <h2>Login Form</h2> 
    <!--Step 1 : Adding HTML-->
    <form > 
         
  
        <div class="container"> 
            <label><b>Username</b></label> 
            <input type="text" placeholder="Enter Username"  value="{{username}}" (change)="set($event,value)" required> 
            <!--input type="text" placeholder="Enter Username"  ng-model="username" required--> 
            <label><b>Password</b></label> 
            <input type="password" placeholder="Enter Password" name="psw"  required> 
  
           
           
        </div> 
        <button (click) = "verify()">Click</button> 
    </form> 